<!-- <p>products works!</p>
{{products_data | json}} -->


<div class="container-fluid" style="background-color: white;">


  <div class="left" style="padding-left: 5px;">
      <h4 style="text-align: start; padding: 20px 0px 0px 0px;">Filters</h4>
      <hr>
      <p style="font-size: 14px; font-weight: bold;">CATEGORIES</p>
      <div class="">
          <p style="font-size: 14px; font-weight: bold;">PRICE</p>
          <mat-slider 
                thumbLabel
                tickInterval="1"
                min="1"
                max="100000"
                step="100" 
                value="1" 
                thumbLabel="true" 
                range="true"
                [(ngModel)]="slider_val"
                style="width: 100%;">
           </mat-slider>
           
           
           {{min_val}}
           {{max_val}}
           <button class="btn btn-secondary" (click)="funslider()">Get</button>
        
          <!-- <div class="row">
              <div class="col-sm-5">
                  <select class="form-control">
                      <option>Min</option>
                      <option>₹500</option>
                      <option>₹1000</option>
                      <option>₹1500</option>
                  </select>
              </div>
              <div class="col-sm-1">to</div>

              <div class="col-sm-5">
                  <select class="form-control">
                      <option>₹4000+</option>
                      <option>₹500</option>
                      <option>₹1000</option>
                      <option>₹1500</option>
                      <option>₹2000</option>
                      <option>₹2500</option>
                      <option>₹3000</option>
                      <option>₹3500</option>
                      <option>₹4000</option>
                  </select>
              </div>
            
          </div> -->
          <br><br>
          <div>
          
              <p style="font-size: 14px; font-weight: bold;">BRAND</p>
                  <mat-form-field style="width: 100%;">
                      <mat-icon>search<input type="text" matInput autocomplete="off" > </mat-icon>     
                   </mat-form-field>
                    
                   <mat-checkbox> Samsung</mat-checkbox><br>
                   <mat-checkbox> Apple</mat-checkbox><br>
                   <mat-checkbox> Redmi</mat-checkbox><br>
                   <mat-checkbox> Realme</mat-checkbox><br>
                   <mat-checkbox> Oppo</mat-checkbox><br>
                   <mat-checkbox> Lenovo</mat-checkbox>
                  </div>
          </div>


      </div>
  </div>



  <h2 style="text-align: start;">Products:</h2>
  
<div  class="row">
  
  <div *ngFor="let product of products_data;" class="col-sm-12 col-md-3 col-lg-4" >

      <div class="prodiv" [routerLink]="['../productinfo',{productid:product._id}]">

         <div class="row">
             <div class="col-sm-2" id="ad">AD</div>
             <div class="col-sm-9">
              <i class="fas fa-heart" style="color:grey; font-size: 35px;opacity: 0.6; padding-left: 20px; float: right; "></i>
             </div>
         </div>

          <img src="../../assets/product_images/{{product.pimage[0]}}" class="img-fluid">
         &nbsp;&nbsp;
      <!-- {{product.image[0]}} -->
      <div style="padding: 3px 5px;"  class="text-muted">
      <h4 style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;">
        {{product.pname | titlecase}}&nbsp;
        <span><img src="../../assets/fk.png" alt="" class="img-fluid" style="width: 100px;height: 20px; border-radius: 10px;"></span>
      </h4> 
        
      <div>
          <h6 style="color: rgb(247, 158, 158);">
             <b>{{product.newprice | currency :"INR"}}</b> 
          &nbsp;
          <span *ngIf="product.oldprice" style="color: black; opacity: 0.6;">
            <s>{{product.oldprice | currency :"INR"}}</s>  
          </span>
          </h6>       
                  
     
      
      <span class="fa fa-star" style="padding-right:3px;color:#047BD5; font-size:20px;" *ngFor="let x of product.ratingarr">

      </span>
      <span class="fa fa-star-half" *ngIf="product.half==1" style="padding-right:3px;color:#047BD5;font-size:20px;" >
        </span>
     <h6>Size:&nbsp;<span style="color: rgb(61, 5, 5);">{{product.size}}</span></h6>
     
      <!-- <button mat-raised-button color="primary" style="margin-left: 5px;border-radius: 10px;" [routerLink]="['../productinfo',{productid:product._id}]">MoreDetails</button> -->
          <!-- &nbsp;&nbsp;
      <button  mat-raised-button color="accent" [routerLink]="['../cart',{productid:product._id}]">
          <span class="fa fa-shopping-cart"></span>
       AddToCart
     </button> -->
      </div>

      <!-- <div class="row">
          <div class="col-sm-4">
              <button  value="More" class="btn btn-danger" [routerLink]="['../prodinfo',{productid:product._id}]">More</button>

          </div>
          <div class="col-sm-8">
              <button class="btn btn-primary">
                  <span class="fa fa-shopping-cart"></span>
                  Add to Cart
              </button>
          </div>
      </div> -->


  </div>
  </div>
 
  
</div>
</div>
<div style="clear: both;"></div>
<!-- 
<div class="row">
  <div class="col-md-3 col-sm-12 col-lg-3">
      <button  value="More" class="btn btn-danger" [routerLink]="['../prodinfo',{productid:product._id}]">More</button>
  </div>
  <div class="col-md-2 col-sm-3 col-lg-1">
      <span class="fa fa-heart" style="color: gray; font-size: 35px; float: right;"></span>
  </div>
  <div class="col-md-7 col-lg-7 col-sm-12">
      <button class="btn btn-primary">
          <span class="fa fa-shopping-cart"></span>
          Add to Cart
      </button>
  </div>
 
</div>  -->

