  <!-- Site footer
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis blanditiis at, ad mollitia accusantium non tempora magni quisquam nulla doloremque, harum voluptatibus veritatis, vitae repellat odit recusandae id est ipsum?Laborum deserunt ex at necessitatibus dolore ad sequi dolorum nisi omnis ullam voluptas repellendus vero asperiores in vitae quas fuga animi, reiciendis magni fugiat praesentium impedit inventore. Nostrum, modi adipisci!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          / <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul> /
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            // <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">Flikcart</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer> -->


<div class="footer">



  <div class="row">
      <div class="col-sm-6">

          <div class="row" style="margin-top: 20px;">
          <div class="col-sm-3" style="color: #878787; font-size: 12px; font-weight: bold;text-align: center;">ABOUT
          
          <div class="ab">
              <a>Contact Us</a><br><br>
              <a>About US</a><br><br>
              <a>Careers</a><br><br>
              <a>Flipkart Stories</a><br><br>
              <a>Press</a>
          </div>
          </div>
          <div class="col-sm-3" style="color: #878787; font-size: 12px; font-weight: bold;text-align: center;">HELP
              <div class="ab">
                  <a>Payments</a><br><br>
                  <a>Shipping</a><br><br>
                  <a>Cancellation & Returns</a><br><br>
                  <a>FAQ</a><br><br>
                  <a>Report Infringement</a>
              </div>
          </div>
          <div class="col-sm-3" style="color: #878787; font-size: 12px; font-weight: bold;text-align: center;">POLICY
              <div class="ab">
                  <a>Return Policy</a><br><br>
                  <a>Terms Of Use</a><br><br>
                  <a>Security</a><br><br>
                  <a>Privacy</a><br><br>
                  <a>Sitemap</a><br><br>
                  <a>EPR Compliance</a>
              </div>
          </div>
          <div class="col-sm-3" style="color: #878787; font-size: 12px; font-weight: bold;text-align: center;">SOCIAL
              <div class="ab">
                  <a>Facebook</a><br><br>
                  <a>Twitter</a><br><br>
                  <a>Youtube</a>
              </div>
          </div>
          </div>
      </div>
      <div class="vl"></div>
      <div class="col-sm-4" style="margin-top: 20px;">
        <div class="row">
          <div class="col-sm-6" style="color: #878787; font-size: 12px; font-weight: bold;text-align: center;">MailUs</div>
          <div class="col-sm-6" style="color: #878787; font-size: 12px; font-weight: bold;text-align: center;">Registered Office Address</div>
        </div>
      </div>
  </div>
</div>