/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
/*@import url("https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js");*/
/*@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js");*/
/*@import url("https://fonts.googleapis.com/css?family=Roboto|Varela+Round");*/

/* .carousel-inner img{
    width:100%;
	height:100%px;
} */
/* .footer{
    /*background-color: rgb(125, 168, 168);
    height: 200px;
    margin-bottom: 5px;
}*/
